<#-- 
 * description:官网SEO管理
 * version: 1.0 
 * author:FengWanJun
 * -->
<#include "../include/header.html">
<body>
<script type="text/javascript">
var datas = {};

var viewModel = kendo.observable({
    model: {
    	siteKeywords: '',
    	siteTitle: '',
    	siteDescription: '',
    	objectVersionNumber: 1
    },
    saveForm:function(e) {
    	datas = viewModel.model;
    	$.ajax({
    		 url: '${base.contextPath}/fms/sys/seo/manage/submit',
    		 type: "POST",
    		 dataType: "json",
    		 contentType: "application/json",
    		 data       : kendo.stringify(datas),
    		 success: function (args) {
    		      if (args.success) {
    		    	  kendo.ui.showInfoDialog({
    		    	        title:$l('hap.prompt'),
    		    	        message:$l('hap.tip.success')
    		    	  });
    		      	for (var key in args.rows[0]) {
    		      		 viewModel.model[key] = args.rows[0][key];
    		    	}
    		      } else {
    		    	  kendo.ui.showErrorDialog({
    		              message  : args.message
    		          });
    		    }
    		 },
    		 error: function (e) {
    			 kendo.ui.showErrorDialog({
		              message  : e
		          });
    		 }
        });
    },
    cancelFunction:function(e) {
    	for (var key in datas) {
	   		viewModel.model.set(key,datas[key]);
	   		viewModel.model._siteKeywords = viewModel.model.siteKeywords.split(",");
	   		$("#keyword").val("");
	   		//清除所有关键字
	   		$("#showKeywords").html("");
	   	    for (var i in viewModel.model._siteKeywords) {
	   	    	var ele = "<span class='btn btn-default' style='margin-right: 10px;margin-bottom: 15px;' name='tag'><span class='k-icon k-i-close' onclick='deleteKeyWord(this)'></span>"+viewModel.model._siteKeywords[i]+"</span>";
	   	      	$("#showKeywords").append(ele);
	   	    }
    	}
    }
});
</script>
	   
	<div class="page-content" >
	 <div  class="form-horizontal" role="form" autocomplete="off">
		<div class="panel panel-default">
		<div class="panel-heading">
		   <span class="panel-title"> <@spring.message "fms.seo.site_manage"/></span>
		</div>
        <div class="panel-body">
          <div class="row">
	          <div class="form-group ">
	              <label class="col-sm-2 control-label"><@spring.message "fms.seo.site_title"/></label>
	              <div class="col-sm-8">
	                  <input  class="k-textbox" id="siteTitle" data-bind = "value:model.siteTitle"  style="width: 100%"/>
	                  <script>kendo.bind($('#siteTitle'), viewModel);</script>
	              </div>
	          </div>
	          <div class="form-group ">
	              <label class="col-sm-2 control-label"><@spring.message "fms.seo.site_description"/></label>
	              <div class="col-sm-8">
	                  <textarea class="k-textbox" rows='10' id="siteDescription" data-bind = "value:model.siteDescription" style="width: 100%">
	                  </textarea>
	                  <script>kendo.bind($('#siteDescription'), viewModel);</script>
	              </div>
	          </div>
	          <div class="form-group ">
	              <label class="col-sm-2 control-label"><@spring.message "fms.seo.site_keywords"/></label>
	              <div class="col-sm-8">
	                  <input class="k-textbox" id="keyword" style="width:50%;"/>
	                  <span class="btn btn-primary" onClick='addKeyword()' style="width:100px;margin-left:10px;"><i class="fa fa-plus-square" style="margin-right:3px;"></i><@spring.message "clb.add"/></span>
	                  <div class="col-sm-12" style="padding-left:0;padding-right:0;margin:10px 0 0 0;" id="showKeywords"></div>
	              </div>
	          </div>
         </div>
        </div>
         <div class=" panel-footer text-left">
           <span class="btn btn-default" id="cancel" style="width:100px" data-bind="click:cancelFunction"><i class="fa fa-reply" style="margin-right:3px;"></i><@spring.message "hap.cancel"/></span>
           <script>kendo.bind($('#cancel'), viewModel);</script>
           <span class="btn btn-success" id="save" style="width:100px;float:right;" data-bind="click:saveForm" ><i class="fa fa-save" style="margin-right:3px;"></i><@spring.message "hap.save"/></span>
           <script>kendo.bind($('#save'), viewModel);</script>
         </div>
	</div>
</div>
<script type="text/javascript">
	//添加关键字
	function addKeyword() {
		if (!$("#keyword").val()) {
			return;
		}
		for (var i in viewModel.model._siteKeywords) {
	        if (viewModel.model._siteKeywords[i] == $("#keyword").val()) {
	        	kendo.ui.showErrorDialog({
                    title: '错误信息',
                    message: '关键字 '+ $("#keyword").val() +' 已存在<br/>'
                });
                return;
	        }
	    }
		var ele = "<span class='btn btn-default' style='margin-right: 10px;margin-bottom: 15px;' name='tag'><span class='k-icon k-i-close' onclick='deleteKeyWord(this)'></span>"+$("#keyword").val()+"</span>";
		viewModel.model._siteKeywords.push($("#keyword").val());
		viewModel.model.siteKeywords = viewModel.model._siteKeywords.toString();
		$("#showKeywords").append(ele);
		$("#keyword").val("");
	}
	//删除关键字
    function deleteKeyWord(e){
        //获取标签值
        kendo.ui.showConfirmDialog({
            title:$l('hap.tip.info'),
            message: "是否删除该标签？"
        }).done(function (event) {
            if (event.button == 'OK') {
            	for (var i in viewModel.model._siteKeywords) {
        	        if (viewModel.model._siteKeywords[i] == $(e.parentNode)[0].innerText) {
        	        	viewModel.model._siteKeywords.splice(i,1);
        	        	viewModel.model.siteKeywords = viewModel.model._siteKeywords.toString();
        	        	$(e.parentNode).remove();
        	        }
        	    }
            	
            }
        });
    }
    $.ajax({
    url: '${base.contextPath}/fms/sys/seo/manage/query',
    type: "POST",
    dataType: "json",
    contentType: "application/json",
    // data       : kendo.stringify(para),
    success: function (args) {
      //数据成功以后 绑定到viewmodel上
      datas = args.rows[0] || {};
      if (datas != {}) {
    	  for (var key in datas) {
   	      	viewModel.model.set(key,datas[key]);
   	      }
   	      if (viewModel.model.siteKeywords) {
   	          viewModel.model._siteKeywords = viewModel.model.siteKeywords.split(",");
   	      }
   	      for (var i in viewModel.model._siteKeywords) {
   	    	var ele = "<span class='btn btn-default' style='margin-right: 10px;margin-bottom: 15px;' name='tag'><span class='k-icon k-i-close' onclick='deleteKeyWord(this)'></span>"+viewModel.model._siteKeywords[i]+"</span>";
   	  		$("#showKeywords").append(ele);
   	      }
      }
    },
    error: function (e) {
    	kendo.ui.showErrorDialog({
            message  : e
        });
    }
  });
 </script>
</body>
</html>