<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clb.core.commission.mapper.CmnBasicMapper">
    <resultMap id="BaseResultMap" type="clb.core.commission.dto.CmnBasic">
        <result column="BASIC_ID" property="basicId" jdbcType="DECIMAL" />
        <result column="SUPPLIER_ID" property="supplierId" jdbcType="DECIMAL" />
        <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
        <result column="CONTRIBUTION_PERIOD" property="contributionPeriod" jdbcType="VARCHAR" />
        <result column="CURRENCY" property="currency" jdbcType="VARCHAR" />
        <result column="PAY_METHOD" property="payMethod" jdbcType="VARCHAR" />
        <result column="POLICYHOLDERS_MIN_AGE" property="policyholdersMinAge" jdbcType="DECIMAL" />
        <result column="POLICYHOLDERS_MAX_AGE" property="policyholdersMaxAge" jdbcType="DECIMAL" />
        <result column="PRICE_TYPE" property="priceType" jdbcType="VARCHAR" />
        <result column="THE_FIRST_YEAR" property="theFirstYear" jdbcType="DECIMAL" />
        <result column="THE_SECOND_YEAR" property="theSecondYear" jdbcType="DECIMAL" />
        <result column="THE_THIRD_YEAR" property="theThirdYear" jdbcType="DECIMAL" />
        <result column="THE_FOURTH_YEAR" property="theFourthYear" jdbcType="DECIMAL" />
        <result column="THE_FIFTH_YEAR" property="theFifthYear" jdbcType="DECIMAL" />
        <result column="THE_SIXTH_YEAR" property="theSixthYear" jdbcType="DECIMAL" />
        <result column="THE_SEVENTH_YEAR" property="theSeventhYear" jdbcType="DECIMAL" />
        <result column="THE_EIGHT_YEAR" property="theEightYear" jdbcType="DECIMAL" />
        <result column="THE_NINTH_YEAR" property="theNinthYear" jdbcType="DECIMAL" />
        <result column="THE_TENTH_YEAR" property="theTenthYear" jdbcType="DECIMAL" />
        <result column="VERSION" property="version" jdbcType="DECIMAL" />
        <result column="EFFECTIVE_START_DATE" property="effectiveStartDate" jdbcType="TIMESTAMP" />
        <result column="EFFECTIVE_END_DATE" property="effectiveEndDate" jdbcType="TIMESTAMP" />


        <result column="PRODUCT_COMPANY" property="productCompany" jdbcType="VARCHAR" />
        <result column="ITEM_CODE" property="itemCode" jdbcType="VARCHAR" />
        <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />

    </resultMap>

    <select id="queryBasic" resultMap="BaseResultMap" parameterType="clb.core.commission.dto.CmnBasic">
        SELECT
            fcb.BASIC_ID,
            fcb.SUPPLIER_ID,
            fss.`NAME` PRODUCT_COMPANY,
            fcb.ITEM_ID,
            fpi.ITEM_CODE,
            fpi.ITEM_NAME,
            fcb.CONTRIBUTION_PERIOD,
            fcb.CURRENCY,
            fcb.PAY_METHOD,
            fcb.POLICYHOLDERS_MIN_AGE,
            fcb.POLICYHOLDERS_MAX_AGE,
            fcb.PRICE_TYPE,
            fcb.THE_FIRST_YEAR,
            fcb.THE_SECOND_YEAR,
            fcb.THE_THIRD_YEAR,
            fcb.THE_FOURTH_YEAR,
            fcb.THE_FIFTH_YEAR,
            fcb.THE_SIXTH_YEAR,
            fcb.THE_SEVENTH_YEAR,
            fcb.THE_EIGHT_YEAR,
            fcb.THE_NINTH_YEAR,
            fcb.THE_TENTH_YEAR,
            fcb.VERSION,
            fcb.EFFECTIVE_START_DATE,
            fcb.EFFECTIVE_END_DATE
        FROM
        fms_cmn_basic AS fcb
        LEFT JOIN fms_spe_supplier fss
        ON fcb.SUPPLIER_ID = fss.SUPPLIER_ID
        LEFT JOIN fms_prd_items fpi
        ON fcb.ITEM_ID = fpi.ITEM_ID
        WHERE 1=1
            <if test="supplierId!=null and supplierId!=''">
                AND fcb.SUPPLIER_ID = #{supplierId}
            </if>
            <if test="productCompany!=null and productCompany!=''">
                AND `NAME` = #{productCompany}
            </if>
            <if test="itemId!=null and itemId!=''">
                AND fcb.ITEM_ID = #{itemId}
            </if>
            <if test="itemCode!=null and itemCode!=''">
                AND ITEM_CODE = #{itemCode}
            </if>
            <if test="itemName!=null and itemName!=''">
                AND ITEM_NAME = #{itemName}
            </if>
            <if test="contributionPeriod!=null and contributionPeriod!=''">
                AND CONTRIBUTION_PERIOD = #{contributionPeriod}
            </if>
            <if test="currency!=null and currency!=''">
                AND CURRENCY = #{currency}
            </if>
            <if test="payMethod!=null and payMethod!=''">
                AND PAY_METHOD = #{payMethod}
            </if>
            <if test="policyHoldersAge!=null and policyHoldersAge!=''">
                AND POLICYHOLDERS_MIN_AGE &lt;= #{policyHoldersAge}
                AND POLICYHOLDERS_MAX_AGE &gt;= #{policyHoldersAge}
            </if>
            <if test="basicId!=null and basicId !=''">
                AND fcb.BASIC_ID = #{basicId}
            </if>
            <if test="version!=null and version!=''">
                AND VERSION = #{version}
            </if>
    </select>

    <select id="queryMaxVersion" resultType="java.lang.Long" parameterType="clb.core.commission.dto.CmnBasic">
        select max(VERSION) from fms_cmn_basic
        where
        ITEM_ID = #{itemId}
        AND CONTRIBUTION_PERIOD = #{contributionPeriod}
        AND CURRENCY = #{currency}
        AND PAY_METHOD = #{payMethod}
        AND POLICYHOLDERS_MIN_AGE = #{policyholdersMinAge}
        AND POLICYHOLDERS_MAX_AGE = #{policyholdersMaxAge}
    </select>

	<select id="selectBasic" resultMap="BaseResultMap" parameterType="clb.core.commission.dto.CmnBasic">
        select * from fms_cmn_basic
        where
        ITEM_ID = #{itemId}
        AND CONTRIBUTION_PERIOD = #{contributionPeriod}
        AND CURRENCY = #{currency}
        AND PAY_METHOD = #{payMethod}
        AND POLICYHOLDERS_MIN_AGE = #{policyholdersMinAge}
        AND POLICYHOLDERS_MAX_AGE = #{policyholdersMaxAge}
    </select>
</mapper>