<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clb.core.order.mapper.OrdAppointmentScheduleMapper">
    <resultMap id="UserResultMap" type="com.hand.hap.account.dto.User" extends="com.hand.hap.mapper.StdMapper.STD">
        <id column="USER_ID" property="userId" jdbcType="DECIMAL" />
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
        <result column="USER_TYPE" property="userType" jdbcType="VARCHAR" />
        <result column="PASSWORD_ENCRYPTED" property="passwordEncrypted" jdbcType="VARCHAR" />
        <result column="EMAIL" property="email" jdbcType="VARCHAR" />
        <result column="PHONE" property="phone" jdbcType="VARCHAR" />
        <result column="START_ACTIVE_DATE" property="startActiveDate" javaType="DATE"/>
        <result column="END_ACTIVE_DATE" property="endActiveDate" javaType="DATE"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="LAST_PASSWORD_UPDATE_DATE" property="lastPasswordUpdateDate" javaType="DATE"/>
        <result column="LAST_LOGIN_DATE" property="lastLoginDate" javaType="DATE"/>
        <result column="FIRST_LOGIN" property="firstLogin" jdbcType="VARCHAR" />
    </resultMap>
    
     <resultMap id="OrderMap" type="clb.core.order.dto.OrdOrder">
        <result column="ORDER_ID" property="orderId" jdbcType="DECIMAL" />
        <result column="ORDER_NUMBER" property="orderNumber" jdbcType="VARCHAR" />
        <result column="POLICY_NUMBER" property="policyNumber" jdbcType="VARCHAR" />
        <result column="PAY_NUMBER" property="payNumber" jdbcType="VARCHAR" />
        <result column="CUSTOMER_NUMBER" property="customerNumber" jdbcType="VARCHAR" />
        <result column="COMPANY_CHANNEL_ID" property="companyChannelId" jdbcType="DECIMAL" />
        <result column="CHANNEL_ID" property="channelId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ROLE_ID" property="contractRoleId" jdbcType="DECIMAL" />
        <result column="PRODUCT_SUPPLIER_ID" property="productSupplierId" jdbcType="DECIMAL" />
        <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
        <result column="SUBLINE_ID" property="sublineId" jdbcType="DECIMAL" />
        <result column="CURRENCY" property="currency" jdbcType="VARCHAR" />
        <result column="PAY_METHOD" property="payMethod" jdbcType="VARCHAR" />
        <result column="YEAR_PAY_AMOUNT" property="yearPayAmount" jdbcType="DECIMAL" />
        <result column="POLICY_AMOUNT" property="policyAmount" jdbcType="DECIMAL" />
        <result column="APPLICANT_CUSTOMER_ID" property="applicantCustomerId" jdbcType="DECIMAL" />
        <result column="INSURANT_CUSTOMER_ID" property="insurantCustomerId" jdbcType="DECIMAL" />
        <result column="INCREASE_FLAG" property="increaseFlag" jdbcType="VARCHAR" />
        <result column="SUBMIT_DATE" property="submitDate" jdbcType="TIMESTAMP" />
        <result column="RESERVE_DATE" property="reserveDate" jdbcType="TIMESTAMP" />
        <result column="RESERVE_ARRIVAL_DATE" property="reserveArrivalDate" jdbcType="TIMESTAMP" />
        <result column="RESERVE_CHECK_DATE" property="reserveCheckDate" jdbcType="TIMESTAMP" />
        <result column="SIGN_DATE" property="signDate" jdbcType="TIMESTAMP" />
        <result column="EFFECTIVE_DATE" property="effectiveDate" jdbcType="DATE" />
        <result column="APPROVE_DATE" property="approveDate" jdbcType="DATE" />
        <result column="EXPECT_COOL_DATE" property="expectCoolDate" jdbcType="DATE" />
        <result column="FIRST_PAY_DATE" property="firstPayDate" jdbcType="DATE" />
        <result column="RENEWAL_DUE_DATE" property="renewalDueDate" jdbcType="DATE" />
        <result column="GRACE_DATE" property="graceDate" jdbcType="DATE" />
        <result column="ADMINISTRATIVE_DATE" property="administrativeDate" jdbcType="DATE" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="CLUB_CONFIRM_STATUS" property="clubConfirmStatus" jdbcType="VARCHAR" />
        <result column="CUSTOMER_CONFIRM_STATUS" property="customerConfirmStatus" jdbcType="VARCHAR" />
        <result column="APPLICATION_STATUS" property="applicationStatus" jdbcType="VARCHAR" />
        <result column="CUSTOMER_USER_ID" property="customerUserId" jdbcType="DECIMAL" />
        <result column="SMS_FLAG" property="smsFlag" jdbcType="VARCHAR" />
        <result column="CUSTOMER_OPERATE_DATE" property="customerOperateDate" jdbcType="TIMESTAMP" />
        <result column="HK_CONTACT_PERSON" property="hkContactPerson" jdbcType="VARCHAR" />
        <result column="HK_CONTACT_PHONE_CODE" property="hkContactPhoneCode" jdbcType="VARCHAR" />
        <result column="HK_CONTACT_PHONE" property="hkContactPhone" jdbcType="VARCHAR" />
        <result column="RECEIPT_DATE" property="receiptDate" jdbcType="TIMESTAMP" />
        <result column="QUICK_CHECK_FLAG" property="quickCheckFlag" jdbcType="VARCHAR" />
        <result column="ELE_INSURANCE_FLAG" property="eleInsuranceFlag" jdbcType="VARCHAR" />
        <result column="FILL_USER_ID" property="fillUserId" jdbcType="DECIMAL" />
        <result column="SIGN_ASSISTANT" property="signAssistant" jdbcType="VARCHAR" />
        <result column="SIGN_ASSISTANT_NAME" property="signAssistantName" jdbcType="VARCHAR" />
        <result column="ARRIVAL_DATE" property="arrivalDate" jdbcType="TIMESTAMP" />
        <result column="LEAVE_DATE" property="leaveDate" jdbcType="TIMESTAMP" />
        <result column="PHONE_FLAG" property="phoneFlag" jdbcType="VARCHAR" />
        <result column="CONTACT_PERSON" property="contactPerson" jdbcType="VARCHAR" />
        <result column="CONTACT_PHONE" property="contactPhone" jdbcType="VARCHAR" />
        <result column="SIGN_ADDRESS" property="signAddress" jdbcType="VARCHAR" />
        <result column="MEET_ADDRESS" property="meetAddress" jdbcType="VARCHAR" />
        <result column="RESERVE_SUPPLIER_ID" property="reserveSupplierId" jdbcType="DECIMAL" />
        <result column="RESERVE_COMMENT" property="reserveComment" jdbcType="VARCHAR" />
        <result column="RESERVE_USER_ID" property="reserveUserId" jdbcType="DECIMAL" />
        <result column="SIGN_SUPPLIER_ID" property="signSupplierId" jdbcType="DECIMAL" />
        <result column="SIGN_PERSON" property="signPerson" jdbcType="VARCHAR" />
        <result column="SIGN_PERSON_NAME" property="signPersonName" jdbcType="VARCHAR" />
        <result column="EXPRESS_DELIVERY_INFO" property="expressDeliveryInfo" jdbcType="VARCHAR" />
        <result column="RECEPTION_USER_ID" property="receptionUserId" jdbcType="DECIMAL" />
        <result column="REVIEWER1" property="reviewer1" jdbcType="VARCHAR" />
        <result column="REVIEWER1_DATE" property="reviewer1Date" jdbcType="TIMESTAMP" />
        <result column="REVIEWER2" property="reviewer2" jdbcType="VARCHAR" />
        <result column="REVIEWER2_DATE" property="reviewer2Date" jdbcType="TIMESTAMP" />
        <result column="REVIEWER_COMMENT" property="reviewerComment" jdbcType="VARCHAR" />
        <result column="REVIEWER1_NAME" property="reviewer1Name" jdbcType="VARCHAR" />
        <result column="REVIEWER2_NAME" property="reviewer2Name" jdbcType="VARCHAR" />
        <result column="SEND_USER_ID" property="sendUserId" jdbcType="DECIMAL" />
        <result column="SEND_DATE" property="sendDate" jdbcType="TIMESTAMP" />
        <result column="SEND_STATUS" property="sendStatus" jdbcType="VARCHAR" />
        <result column="PLAN_FILE_ID" property="planFileId" jdbcType="DECIMAL" />
        <result column="REQ_FILE_ID" property="reqFileId" jdbcType="DECIMAL" />
        <result column="NEXT_POLICY_AMOUNT" property="nextPolicyAmount" jdbcType="DECIMAL" />
        <result column="NEXT_POLICY_DUE_DATE" property="nextPolicyDueDate" jdbcType="TIMESTAMP" />
        <result column="FIRST_PAYMENT_METHOD" property="firstPaymentMethod" jdbcType="VARCHAR" />
        <result column="RENEWAL_PAYMENT_METHOD" property="renewalPaymentMethod" jdbcType="VARCHAR" />
        <result column="RENEWAL_OTHER" property="renewalOther" jdbcType="VARCHAR" />
        <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
        <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
        <result column="ITEM" property="item" jdbcType="VARCHAR" />
        <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
        <result column="COMPANY_CHANNEL_NAME" property="companyChannelName" jdbcType="VARCHAR" />
        <result column="CHANNEL_NAME" property="channelName" jdbcType="VARCHAR" />
        <result column="APPLICANT" property="applicant" jdbcType="VARCHAR" />
        <result column="INSURANT" property="insurant" jdbcType="VARCHAR" />
        <result column="SIGN_SUPPLIER_NAME" property="signSupplierName" jdbcType="VARCHAR" />
        <result column="RESERVE_SUPPLIER_NAME" property="reserveSupplierName" jdbcType="VARCHAR" />
        <result column="ORDER_INFO" property="orderInfo" jdbcType="VARCHAR" />
        <result column="CUSTOMER_EMPLOYEE_NAME" property="customerEmployeeName" jdbcType="VARCHAR" />
        <result column="FILL_EMPLOYEE_NAME" property="fillEmployeeName" jdbcType="VARCHAR" />
        <result column="SEND_EMPLOYEE_NAME" property="sendEmployeeName" jdbcType="VARCHAR" />
        <result column="OWN_SUPPLIER_ID" property="ownSupplierId" jdbcType="DECIMAL" />
        <result column="OWN_SUPPLIER_NAME" property="ownSupplierName" jdbcType="VARCHAR" />
        <result column="MIDDLE_SUPPLIER_NAME" property="middleSupplierName" jdbcType="VARCHAR" />
        <result column="INSURANCE_SUPPLIER_NAME" property="insuranceSupplierName" jdbcType="VARCHAR" />
        <result column="STATUS_DESC" property="statusDesc" jdbcType="VARCHAR" />
        <result column="DDA_FLAG" property="ddaFlag" jdbcType="VARCHAR" />
        <result column="DDA_SUBMIT_DATE" property="ddaSubmitDate" jdbcType="TIMESTAMP" />
        <result column="DDA_EFFECTIVE_DATE" property="ddaEffectiveDate" jdbcType="TIMESTAMP" />
        <result column="FEEDBACK_BALANCE" property="feedbackBalance" jdbcType="DECIMAL" />
        <result column="ACCOUNT_BALANCE" property="accountBalance" jdbcType="DECIMAL" />
        <result column="BALANCE_CURRENCY" property="balanceCurrency" jdbcType="VARCHAR" />
        <result column="BALANCE_PAYMENT_METHOD" property="balancePaymentMethod" jdbcType="VARCHAR" />
        <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
        <result column="PRODUCT_SUPPLIER_NAME" property="productSupplierName" jdbcType="VARCHAR" />
        <result column="SUBLINE_ITEM_NAME" property="sublineItemName" jdbcType="VARCHAR" />
        <result column="TR_CHANNEL_COUNT" property="trChannelCount" jdbcType="DECIMAL" />
        <result column="TR_SUPPLIER_COUNT" property="trSupplierCount" jdbcType="DECIMAL" />
        <result column="INTRODUCER" property="introducer" jdbcType="VARCHAR" />
        <result column="INTRODUCER_NAME" property="introducerName" jdbcType="VARCHAR" />
        <result column="INTRODUCE_BENEFIT" property="introduceBenefit" jdbcType="VARCHAR" />
        <result column="INSURANT_BIRTH_DATE" property="insurantBirthDate" jdbcType="TIMESTAMP" />
        <result column="SIGN_FEE" property="signFee" jdbcType="DECIMAL" />
        <result column="CARD_FEE" property="cardFee" jdbcType="DECIMAL" />
        <result column="PAY_PERIODS" property="payPeriods" jdbcType="DECIMAL" />
        <result column="FUNCTION_CODE" property="functionCode" jdbcType="VARCHAR" />
        <result column="APPLICANT_SEX" property="applicantSex" jdbcType="VARCHAR" />
        <result column="ORDER_TYPE" property="orderType" jdbcType="VARCHAR" />
        <result column="STOCK_CODE" property="stockCode" jdbcType="VARCHAR" />
        <result column="ANNUAL_INTEREST" property="annualInterest" jdbcType="VARCHAR" />
        <result column="DIVIDEND_PERIOD" property="dividendPeriod" jdbcType="VARCHAR" />
        <result column="SUBSCRIPTION_FEE" property="subscriptionFee" jdbcType="VARCHAR" />
        <result column="CUSTODY_FEE" property="custodyFee" jdbcType="VARCHAR" />
        <result column="ISSUE_DATE" property="issueDate" jdbcType="TIMESTAMP" />
        <result column="DIVIDEND_DATE1" property="dividendDate1" jdbcType="TIMESTAMP" />
        <result column="DIVIDEND_DATE2" property="dividendDate2" jdbcType="TIMESTAMP" />
        <result column="PRODUCT_MANAGER" property="productManager" jdbcType="VARCHAR" />
        <result column="PRODUCT_MANAGER_PHONE" property="productManagerPhone" jdbcType="VARCHAR" />
        <result column="RESERVE_CONTACT_PERSON" property="reserveContactPerson" jdbcType="VARCHAR" />
        <result column="RESERVE_CONTACT_PHONE_CODE" property="reserveContactPhoneCode" jdbcType="VARCHAR" />
        <result column="RESERVE_CONTACT_PHONE" property="reserveContactPhone" jdbcType="VARCHAR" />
        <result column="CIES_FLAG" property="ciesFlag" jdbcType="VARCHAR" />
        <result column="CIES_PROCESS_RATE" property="ciesProcessRate" jdbcType="VARCHAR" />
        <result column="INVESTED_ITEM" property="investedItem" jdbcType="VARCHAR" />
        <result column="INVESTED_OTHER" property="investedOther" jdbcType="VARCHAR" />
        <result column="INVESTED_SUBLINE" property="investedSubline" jdbcType="VARCHAR" />
        <result column="CONTRACT_FILE_ID" property="contractFileId" jdbcType="DECIMAL" />
        <result column="MIGRATE_COUNTRY" property="migrateCountry" jdbcType="VARCHAR" />
        <result column="BUDGET" property="budget" jdbcType="DECIMAL" />
        <result column="RELATED_ORDER_ID" property="relatedOrderId" jdbcType="DECIMAL" />
        <result column="RELATED_ORDER_NUMBER" property="relatedOrderNumber" jdbcType="VARCHAR" />
        <result column="CUSTOMER_PRICE" property="customerPrice" jdbcType="VARCHAR" />
        <result column="PRICE" property="price" jdbcType="VARCHAR" />
        <result column="PEOPLE_COUNT" property="peopleCount" jdbcType="DECIMAL" />
        <result column="PAY_AMOUNT" property="payAmount" jdbcType="DECIMAL" />
        <result column="VEHICLE_TYPE" property="vehicleType" jdbcType="VARCHAR" />
        <result column="USER_HOUR" property="userHour" jdbcType="VARCHAR" />
        <result column="DEPARTURE" property="departure" jdbcType="VARCHAR" />
        <result column="DESTINATION" property="destination" jdbcType="VARCHAR" />
        <result column="LODGER_NAME" property="lodgerName" jdbcType="VARCHAR" />
        <result column="LODGER_PINYIN" property="lodgerPinyin" jdbcType="VARCHAR" />
        <result column="CUSTOMER_PHONE_CODE" property="customerPhoneCode" jdbcType="VARCHAR" />
        <result column="CUSTOMER_PHONE" property="customerPhone" jdbcType="VARCHAR" />
        <result column="PRICE_INTERVAL" property="priceInterval" jdbcType="VARCHAR" />
        <result column="CHECKIN_DATE" property="checkinDate" jdbcType="TIMESTAMP" />
        <result column="CHECKOUT_DATE" property="checkoutDate" jdbcType="TIMESTAMP" />
        <result column="ROOM_COUNT" property="roomCount" jdbcType="DECIMAL" />
        <result column="ROOM_TYPE" property="roomType" jdbcType="VARCHAR" />
        <result column="HOTEL_NAME" property="hotelName" jdbcType="VARCHAR" />
        <result column="VACCINE_CUSTOMER_NAME" property="vaccineCustomerName" jdbcType="VARCHAR" />
        <result column="VACCINE_CUSTOMER_AGE" property="vaccineCustomerAge" jdbcType="DECIMAL" />
        <result column="VACCINE_CUSTOMER_SEX" property="vaccineCustomerSex" jdbcType="VARCHAR" />
        <result column="VACCINE_CUSTOMER_PASS" property="vaccineCustomerPass" jdbcType="VARCHAR" />
        <result column="VACCINE_CUSTOMER_TIMES" property="vaccineCustomerTimes" jdbcType="VARCHAR" />
        <result column="KEEP_FLAG" property="keepFlag" jdbcType="VARCHAR" />
        <result column="AGREED_PAYMENT_DATE" property="agreedPaymentDate" jdbcType="TIMESTAMP" />
        <result column="VALUEADD_TYPE" property="valueaddType" jdbcType="VARCHAR" />
        <result column="SECURITY_LEVEL" property="securityLevel" jdbcType="VARCHAR" />
        <result column="SECURITY_REGION" property="securityRegion" jdbcType="VARCHAR" />
        <result column="SELFPAY" property="selfpay" jdbcType="VARCHAR" />
        <result column="MIN_CLASS" property="minClass" jdbcType="VARCHAR" />
        <result column="SAME_FLAG" property="sameFlag" jdbcType="VARCHAR" />
        <result column="CHANNEL_CONTRACT_ID" property="channelContractId" jdbcType="DECIMAL" />
    </resultMap>


    <select id="getUserByRoleName" parameterType="java.lang.String" resultMap="UserResultMap" >
        select 
			su.*
		FROM 
			sys_user su,
			sys_role_b srb,
			sys_user_role sur
		where 
			su.USER_ID = sur.USER_ID
			and sur.ROLE_ID = srb.ROLE_ID
			and srb.ROLE_CODE = #{roleName}
    </select>

	<select id="getOrders" parameterType="clb.core.order.dto.OrdOrder" resultMap="OrderMap" >
        select 
			foo.*,
			fcc.CHANNEL_NAME,
			he.NAME SIGN_ASSISTANT_NAME,
			CONCAT(
			fss.NAME,
			'-',
			fpi.ITEM_NAME,
			'-',
			fpis.SUBLINE_ITEM_NAME,
			'-',
			afcc.CHINESE_NAME,
			'-',
			ifcc.CHINESE_NAME
			)ITEM,
			he1.NAME ROLE_NAME
			from 
			fms_ord_order foo
			left join fms_cnl_channel fcc on foo.CHANNEL_ID = fcc.CHANNEL_ID
			left join sys_user su on foo.SIGN_ASSISTANT = su.USER_ID
			left join hr_employee he on su.RELATED_PARTY_ID = he.EMPLOYEE_ID
			left join fms_prd_items fpi on foo.ITEM_ID = fpi.ITEM_ID 
			left join fms_spe_supplier fss on foo.PRODUCT_SUPPLIER_ID = fss.SUPPLIER_ID and fpi.SUPPLIER_ID = fss.SUPPLIER_ID
			left join fms_prd_item_subline fpis on foo.SUBLINE_ID = fpis.SUBLINE_ID
			left join fms_ctm_customer afcc on foo.APPLICANT_CUSTOMER_ID = afcc.CUSTOMER_ID
			left join fms_ctm_customer ifcc on foo.INSURANT_CUSTOMER_ID = ifcc.CUSTOMER_ID
			left join sys_user su1 on foo.CONTRACT_ROLE_ID = su1.USER_ID
			left join hr_employee he1 on su1.RELATED_PARTY_ID = he1.EMPLOYEE_ID
			<where>
				foo.STATUS not in ('UNSUBMITTED','DATA_APPROVING','DATA_APPROVED','PRE_APPROVING','PRE_APPROVED','NEED_REVIEW','CANCELLED','RESERVE_FAIL')
				<if test = "signAssistant != null">AND foo.SIGN_ASSISTANT = #{signAssistant} </if>
			</where>
			order by foo.RESERVE_ARRIVAL_DATE 
    </select>
    
    
    <select id="getReserveData" parameterType="clb.core.order.dto.OrdOrder" resultMap="OrderMap" >
        SELECT
			foo.*,fcc.CHINESE_NAME APPLICANT
		FROM
			fms_ord_order foo
			LEFT JOIN fms_ctm_customer fcc on foo.APPLICANT_CUSTOMER_ID = fcc.CUSTOMER_ID
		<where>
			foo.ORDER_TYPE = 'VALUEADD'
			<if test="itemId != null">
				AND foo.ITEM_ID = #{itemId}
			</if>
		</where>
    </select>
   
</mapper>