<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clb.core.order.mapper.OrdCstSkillMapper">
    <resultMap id="BaseResultMap" type="clb.core.order.dto.OrdCstSkill">
        <result column="CST_SKILL_ID" property="cstSkillId" jdbcType="DECIMAL" />
        <result column="ORDER_ID" property="orderId" jdbcType="DECIMAL" />
        <result column="SKILL_NAME" property="skillName" jdbcType="VARCHAR" />
        <result column="CERTIFICATE" property="certificate" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
        <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
    </resultMap>


</mapper>