<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clb.core.order.mapper.SysOrderFunctionCfgMapper">
    <resultMap id="BaseResultMap" type="clb.core.order.dto.SysOrderFunctionCfg">
        <result column="CFG_ID" property="cfgId" jdbcType="DECIMAL" />
        <result column="FUNCTION_ID" property="functionId" jdbcType="DECIMAL" />
        <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
        <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
        <result column="FUNCTION_NAME" property="functionName" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 查询功能信息 -->  
    <select id="selectFunctionInfo" parameterType="clb.core.order.dto.SysOrderFunctionCfg" resultMap="BaseResultMap">
        select fsofc.*, 
               sfb.FUNCTION_NAME 
        from fms_sys_order_function_cfg fsofc, sys_function_b sfb
        where fsofc.function_id = sfb.function_id
        <if test="functionName!=null and functionName!=''">
		    and sfb.FUNCTION_NAME like CONCAT('%', #{functionName}, '%')
		</if>
    </select>
    
    <!-- 通过头id查询记录 -->
     <select id="queryByHeaderId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select fsofc.*, 
               sfb.FUNCTION_NAME 
        from fms_sys_order_function_cfg fsofc, sys_function_b sfb
        where fsofc.function_id = sfb.function_id
        and fsofc.cfg_id = #{cfgId}
    </select>
</mapper>