<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clb.core.channel.mapper.CnlContractArchiveMapper">
    <resultMap id="BaseResultMap" type="clb.core.channel.dto.CnlContractArchive">
        <result column="CONTRACT_ARCHIVE_ID" property="contractArchiveId" jdbcType="DECIMAL" />
        <result column="CHANNEL_CONTRACT_ID" property="channelContractId" jdbcType="DECIMAL" />
        <result column="FILE_ID" property="fileId" jdbcType="DECIMAL" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
        <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
        <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
        <result column="FILE_SIZE" property="fileSize" jdbcType="DECIMAL" />
        <result column="UPLOAD_DATE" property="uploadDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="queryArchive" parameterType="clb.core.channel.dto.CnlContractArchive" resultMap="BaseResultMap" >
        SELECT FCCA.CONTRACT_ARCHIVE_ID,
        FCCA.CHANNEL_CONTRACT_ID,
        FCCA.FILE_ID,
        FCCA.NAME,
        FCCA.COMMENTS,
        FCCA.PROGRAM_ID,
        FCCA.REQUEST_ID,
        ceil(SF.FILE_SIZE/1024) FILE_SIZE,
        SF.UPLOAD_DATE
        FROM fms_cnl_contract_archive FCCA
        LEFT JOIN sys_file SF
        ON fcca.FILE_ID = sf.FILE_ID
        WHERE 1=1
        <if test = "channelContractId != null"> AND FCCA.CHANNEL_CONTRACT_ID = #{channelContractId , jdbcType=DECIMAL} </if>
    </select>

</mapper>