<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Created by wzl on 2017/6/14.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clb.core.wecorp.mapper.WecorpAccountMenuMapper">
    <resultMap id="BaseResultMap" type="clb.core.wecorp.dto.WecorpAccountMenu">
        <result column="ACCOUNT_MENU_ID" property="accountMenuId" jdbcType="VARCHAR" />
        <result column="CONTENT" property="content" jdbcType="VARCHAR" />
        <result column="ACCOUNT_NUM" property="accountNum" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findByAccountNum" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM woa_account_menu w WHERE w.account_num = #{accountNum}
    </select>

</mapper>