<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Created by Rex.Hua on 17/4/20.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clb.core.production.mapper.PrdItemSelfpayMapper">
    <resultMap id="BaseResultMap" type="clb.core.production.dto.PrdItemSelfpay">
        <id column="SELFPAY_ID" property="selfpayId" jdbcType="DECIMAL" />
        <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
        <result column="SELFPAY" property="selfpay" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL" />
    </resultMap>

    <!-- 通过产品id选择自付选项 -->
    <select id="selectByItemId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from fms_prd_item_selfpay fpis
        where fpis.ITEM_ID = #{itemId}
    </select>


    <select id="querySelfpay" parameterType="clb.core.production.dto.PrdItemSelfpay" resultMap="BaseResultMap" >
        SELECT DISTINCT fpis.SELFPAY,fpis.ITEM_ID
        FROM fms_prd_item_selfpay fpis
        WHERE 1=1
        AND fpis.ENABLED_FLAG = 'Y'
        <if test = "itemId != null"> AND fpis.ITEM_ID = #{itemId , jdbcType=DECIMAL} </if>
    </select>
    
    <select id="querySelfpayId" resultType="java.lang.Long">
       SELECT fpis.SELFPAY_ID from fms_prd_item_selfpay fpis where fpis.SELFPAY = #{selfpay} and fpis.ITEM_ID = #{itemId}
    </select>

</mapper>