<#--
 * description: 订单申请书状态修改页面
 * version: 1.0
 * #copyright#
 * author jun.zhao02@hand-china.com    2017/5/2 10:20:00
-->
<#include "../include/header.html">
<script src="${base.contextPath}/clb/common/clbCode?appStatusData=ORD.ORDER_APPLICATION_STATUS" type="text/javascript"></script>
<script type="text/javascript">
	var orderId = <#if RequestParameters.orderId?exists> ${RequestParameters.orderId} <#else>-1</#if>;
    var functionCode = '${RequestParameters.functionCode!}';
    var channelContractId = <#if RequestParameters.channelContractId?exists> ${RequestParameters.channelContractId} <#else>-1</#if>;

    var viewModel = kendo.observable({
        model: {}
    });


</script>

<body>
    <div id="page-content">
        <div class="panel panel-default">
        <form class="form-horizontal">
            <div class="panel-heading">
                <span class="panel-title"> <@spring.message "fms.ordorder.applicationstatus"/></span>
            </div>
            <div class="panel-body">

                <div class="col-xs-12" >
                    <div class="form-group" style="margin-bottom:10px">
                        <label class="col-xs-3 control-label"
                               style="text-align: right"><@spring.message "fms.ordorder.applicationstatus"/></label>
                        <div class="col-xs-8">
                            <input id="status" name="status" type="text" required validationMessage='<@spring.message "hap.error.nullexception"/>' data-bind="value:model.status" style="width: 100%;">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12" id="fillUserIdDiv">
                    <div class="form-group" style="margin-bottom:10px">
                        <label class="col-xs-3 control-label"
                               style="text-align: right"><@spring.message "fms.ordorder.fillEmployeeName"/></label>
                        <div class="col-xs-8">
                            <input id="fillUserId" name="fillUserId" type="text" data-bind="value:model.fillUserId,text:model.fillEmployeeName" style="width: 100%;">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12" id="expressDeliveryInfoDiv">
                    <div class="form-group" style="margin-bottom:10px">
                        <label class="col-xs-3 control-label"
                               style="text-align: right"><@spring.message "fms.ordorder.expressDeliveryInfo"/></label>
                        <div class="col-xs-8">
                            <input id="expressDeliveryInfo" name="expressDeliveryInfo" type="text" class="k-textbox" data-bind="value:model.expressDeliveryInfo" style="width: 100%;">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12" id="receiptDateDiv">
                    <div class="form-group" style="margin-bottom:10px">
                        <label class="col-xs-3 control-label"
                               style="text-align: right"><@spring.message "fms.ordorder.receiptDate"/></label>
                        <div class="col-xs-8">
                            <input id="receiptDate" name="receiptDate" type="text"  data-bind="value:model.receiptDate" style="width: 100%;">
                        </div>
                    </div>
                </div>

            </div>

            <div class="panel-footer text-right">
                <span onclick="saveData()" class="btn btn-success" id="btn_save" type="submit" style="width: 100px;margin-right:5px;"><i class="fa fa-save" style="margin-right:3px;"></i><@spring.message "hap.save"/></span>
                <span onclick="cancelData()" class="btn btn-default" id="btn_cancel" style="width: 100px;margin-right:5px;"><i class="fa fa-reply" style="margin-right:3px;"></i><@spring.message "hap.cancel"/></span>
            </div>
        </form>
        </div>

    </div>
    <script>kendo.bind($('#page-content'), viewModel);</script>

<script type="text/javascript">

    $('#page-content').kendoValidator({
        errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" style="margin: 0.5em; display: block;" role="alert"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>'
    });

    $("#fillUserIdDiv").hide();
    $("#expressDeliveryInfoDiv").hide();
    $("#receiptDateDiv").hide();

    $("#status").kendoComboBox({
        valuePrimitive: true,
        dataTextField: "meaning",
        dataValueField: "value",
        dataSource: {
            transport: {
                read:function(options) {
                    $.ajax({
                        type   : "POST",
                        url: "${base.contextPath}/fms/ord/order/queryOrderAppStatus",
                        data: {functionCode : functionCode},
                        success: function(json) {
                            options.success(json.rows);
                        }
                    });
                }
            }
        },
        select: function(e) {
            if (e.dataItem.value && e.dataItem.value == "MAILED") {
                $("#fillUserIdDiv").hide();
                $("#expressDeliveryInfoDiv").show();
                $("#receiptDateDiv").hide();
                viewModel.model.set("receiptDate", null);
            } else if (e.dataItem.value && e.dataItem.value == "RECEIPTED") {
                $("#fillUserIdDiv").hide();
                $("#expressDeliveryInfoDiv").hide();
                $("#receiptDateDiv").show();
                viewModel.model.set("receiptDate", new Date());
            } else {
                $("#fillUserIdDiv").show();
                $("#expressDeliveryInfoDiv").hide();
                $("#receiptDateDiv").hide();
                viewModel.model.set("receiptDate", null);
            }
        },
    });

    $("#receiptDate").kendoDateTimePicker({
        format: "yyyy-MM-dd HH:mm:ss"
    });

    $("#fillUserId").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "ORD_FILL_OUT")}, {
        query: function(e) {
            e.param['channelContractId'] =  channelContractId;
        },
        select:function (e) {
            viewModel.model.set("fillUserId",e.item.userId);
            viewModel.model.set("fillEmployeeName",e.item.employeeName);
        },
        change :function (e) {
            if (e.sender._prev == '' || e.sender._prev == null) {
                viewModel.model.set("fillUserId",null);
                viewModel.model.set("fillEmployeeName",null);
            }
        }
    }));


    function saveData() {
        var validator = $("#page-content").data("kendoValidator");
        if (!validator.validate()) {
            kendo.ui.showErrorDialog({
                message  : '<@spring.message "fms.ordorder.validate_false"/>'
            })
        }else {

            var checked = window.parent.grid.selectedDataItems();
            if (window.parent.grid.selectedDataItems().length) {
                kendo.ui.showConfirmDialog({
                    title: $l('hap.tip.info'),
                    message: '<@spring.message "fms.ordorder.confirmupdatestatus"/>'
                }).done(function (event) {
                    if (event.button == 'OK') {

                        $.each(checked, function (i, v) {
                            v.applicationStatus = viewModel.model.status;
                            v.hisApplicationStatus = viewModel.model.status;
                            if (viewModel.model.status == "MAILED") {
                                v.expressDeliveryInfo = viewModel.model.expressDeliveryInfo;
                            } else if (viewModel.model.status == "RECEIPTED") {
                                v.receiptDate = viewModel.model.receiptDate;
                            } else {
                                v.fillUserId = viewModel.model.fillUserId;
                                v.fillEmployeeName = viewModel.model.fillEmployeeName;
                            }
                            v.dirty = true;
                            
                            $.ajax({
                            	url:"${base.contextPath}/fms/ord/order/addHisStatus2",
                                type:"POST",
                                dataType:"json",   //返回格式为json
                                async:true,//请求是否异步，默认为异步，这也是ajax重要特性
                                data:{"status":"UPDATE_APP_STATUS",
                                	  "statusConfirm":viewModel.model.status,
                                	 "orderId":orderId
                                },    //参数值
                                success:function(data){
                                    //请求成功时处理
                                    if(data.success){
                                    	window.parent.$('#Grid').data('kendoGrid').saveChanges();
                                        window.parent.$("#appWin").data("kendoWindow").close();
                                    }
                                }
                            });
                        })
                    }
                })
            }
        }
    }

    function cancelData() {
        window.parent.$("#appWin").data("kendoWindow").close();
    }


</script>
</body>
</html>