<#--
 * description: 模板应用分类页面
 * version: 1.0
 * #copyright#
 * author jun.zhao02@hand-china.com    2017/5/2 10:20:00
-->
<#include "../include/header.html">
<script src="${base.contextPath}/resources/js/common/zeroModal/zeroModal.js" type="text/javascript"></script>
<script type="text/javascript">
    var viewModel = kendo.observable({
        model: {},
        createFunction: function () {
            $('#Grid').data('kendoGrid').addRow();
        },
        saveFunction: function () {
            $('#Grid').data('kendoGrid').saveChanges();
        },
        queryResource: function (e) {
            $('#Grid').data('kendoGrid').dataSource.page(1);
        },
        resetForm: function () {
            var formData = viewModel.model.toJSON();
            for (var k in formData) {
                viewModel.model.set(k, null);
            }
        }
    });

    $.ajax({
        url: '${base.contextPath}/clb/sys/code/query?code=ORD.APPLY_CLASS',
        async: false,
        success: function (args) {
            var a0 = args.rows[0] || {};
            for (var k in a0) {
                viewModel.model.set(k, a0[k]);
            }
        }
    });


</script>
<body>
<div id="page-content">
    <div class="panel">
        <div id="query_form">
            <form class="form-horizontal" style="margin-top: 5px;">
                <div class="panel-body">
                    <div class="col-xs-12" >
                        <div class="form-group" style="margin-bottom:10px">
                            <label class="col-xs-3 control-label"
                                   style="text-align: right"><@spring.message "fms.ordtemplate.applyclasscode"/></label>
                            <div class="col-xs-8">
                                <input id="value" name="value" type="text" data-bind="value:model.value" class="k-textbox" style="width: 100%;">
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" >

                        <div class="form-group" style="margin-bottom:10px">
                            <label class="col-xs-3 control-label"
                                   style="text-align: right"><@spring.message "fms.ordtemplate.applyclassname"/></label>
                            <div class="col-xs-8">
                                <input id="meaning" name="meaning" type="text" data-bind="value:model.meaning" class="k-textbox" style="width: 100%;">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-footer text-right">
                    <span class="btn btn-primary" data-bind="click:queryResource" type="submit"><i class="fa fa-search" style="margin-right:3px;"></i><@spring.message "hap.query"/></span>
                    <span class="btn btn-default" type="button" data-bind="click:resetForm"><i class="fa fa-eraser" style="margin-right:3px;"></i><@spring.message "hap.reset"/></span>
                    <span class="btn btn-success" onclick="saveData()" type="submit"><i class="fa fa-save" style="margin-right:3px;"></i><@spring.message "clb.add"/></span>
                </div>
            </form>
        </div>
    </div>
    <div style="clear:both">
        <div id="Grid" onDblClick="selectValue()"></div>
    </div>
</div>
<script>kendo.bind($('#page-content'), viewModel);</script>

<script type="text/javascript">

    var crudServiceBaseUrl = "${base.contextPath}";
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: crudServiceBaseUrl + "/fms/ord/template/queryCodeValue?codeId=" + viewModel.model.codeId,
                type: "POST",
                dataType: "json"
            },
            create: {
                url: "${base.contextPath}/clb/sys/code/submit",
                contentType: "application/json",
                type: "POST"
            },
            update: {
                url: "${base.contextPath}/clb/sys/code/submit",
                contentType: "application/json",
                type: "POST"
            },
            destroy: {
                url: crudServiceBaseUrl + "/remove",
                contentType: "application/json",
                type: "POST"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type);
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "codeValueId",
                fields: {}
            }
        }
    });

    var grid = $("#Grid").kendoGrid({
        dataSource: dataSource,
        navigatable: false,
        height: '100%',
        resizable: true,
        scrollable: true,
        selectable: "single",
        columns: [
            {
                field: "value",
                title: '<@spring.message "fms.ordtemplate.applyclasscode"/>',
                width: 80,
                editor:function (container, options){
                    if(options.model.codeValueId==null || options.model.codeValueId==""){
                        $('<input name="' + options.field + '" type="text" class="form-control" style="width:65%;"/>')
                            .appendTo(container)
                    }else{
                        container.html(options.model.value);
                    }
                }
            },
            {
                field: "meaning",
                title: '<@spring.message "fms.ordtemplate.applyclassname"/>',
                width: 100,
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoTLEdit({
                            idField: 'codeValueId',
                            field: 'meaning',
                            dto: "clb.core.system.dto.ClbCodeValue",
                            model: options.model
                        });
                }
            },
        ],
        editable: false
    }).data("kendoGrid");

    Hap.autoResizeGrid("#Grid");

    function getSelected()
    {
        var dataRows = grid.items();
        // 获取行号
        var rowIndex = dataRows.index(grid.select());
        // 获取行对象
        var data = grid.dataItem(grid.select());
        return data;
    }

    function selectValue(){
        console.log("1");

        var row = getSelected();
        if(row == "" || row== undefined ){
            return;
        }
        window.parent.thisRowData_g.set('applyClassCode',row.value);
        window.parent.thisRowData_g.set('applyClass',row.meaning);
        window.parent.$("#appWin").data("kendoWindow").close();
    }

    function saveData () {

        var uniqueFlag = "Y";

        if(viewModel.model.value==''||viewModel.model.value==null){
            kendo.ui.showInfoDialog({
                message:'<@spring.message "fms.ordtemplate.applyclasscode"/><@spring.message "hap.error.nullexception"/>'
            })
        } else if(viewModel.model.meaning==''||viewModel.model.meaning==null){
            kendo.ui.showInfoDialog({
                message:'<@spring.message "fms.ordtemplate.applyclassname"/><@spring.message "hap.error.nullexception"/>'
            })
        } else {

            var unique = zeroModal.loading(6);
            $.ajax({
                url: '${base.contextPath}/fms/ord/template/queryCodeValueUnq?codeId=' + viewModel.model.codeId + "&value=" + viewModel.model.value + "&meaning=" + viewModel.model.meaning,
                async: false,
                success: function (args) {
                    var a0 = args.rows[0] || {};
                    if (a0["codeValueId"]) {
                        uniqueFlag = "N";
                    }
                }
            });

            if (uniqueFlag == "N") {
                kendo.ui.showInfoDialog({
                    message:'<@spring.message "hap.error.uniqueexception"/>'
                })
            } else {
                viewModel.model.__status = 'add';
                viewModel.model.set("description",viewModel.model.meaning);
                Hap.submitForm({
                    url: '${base.contextPath}/fms/ord/template/submitCodeValue',
                    formModel: viewModel.model,
                    success: function (data) {
                        zeroModal.close(unique);
                        $('#Grid').data('kendoGrid').dataSource.page(1);
                    }
                });
            }
        }

    }


</script>
</body>
</html>