<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clb.core.common.mapper.FiredJobMapper">

    <select id="queryJobFireStatus" resultType="java.lang.String">
        select MAX(qft.STATE)
         from qrtz_fired_triggers qft
         WHERE qft.JOB_GROUP = #{0}
           AND qft.JOB_NAME = #{1}
    </select>

</mapper>