<#--
 * description: 问题咨询一级页面
 * version: 1.0
 * #copyright#
 * author 
-->
<#include "../include/header.html">
<!-- <style>
    label.col-sm-3.control-label {
        text-align: right;
        padding-top: 7px;
    }
    #query-form .row{
        margin-bottom: 10px;
    }
</style> -->
<script src="${base.contextPath}/clb/common/clbCode?questionTypeData=QA.QUESTION_TYPE" type="text/javascript"></script>
<script src="${base.contextPath}/clb/common/clbCode?questionAnswerStatus=QA.ANSWER_STATUS" type="text/javascript"></script>
<script src="${base.contextPath}/clb/common/clbCode?questionSolveFlag=QA.SOLVE_FLAG" type="text/javascript"></script>
<script type="text/javascript">
	/* //答复状态的判断
	$.ajax({
	    type: "POST",
	    async: false,//在主线程同步使用XMLHttpRequest是因为对最终用户的体验其带来的不利影响
	    url: "${base.contextPath}/fms/qa/consult/line/selectAll",
	    data: {},
	    success: function (json) {
	    	  for(var i=0;i<json.rows.length;i++){
	    		  	var ids=[];
	    		  	var answerStatus ;
	    	    	ids.push(json.rows[i].consultId);
	    			if(json.rows[i].answer || json.rows[i].answerFileId){
	    				answerStatus = "Y";
	    			}else{
	    				answerStatus = "N";
	    			}
	   				 $.ajax({
	   	                    type: "POST",
	   	                    url: "${base.contextPath}/fms/qa/question/consult/updataStatus",
	   	                    data: {"ids":ids,"answerStatus":answerStatus},
	   	                    dataType: "json",
	   	                    success: function(data){
	   	                    }
		              });
			 }   
	    }
	}); */

    var viewModel = kendo.observable({
        model: {},
        createFunction: function () {
            $('#Grid').data('kendoGrid').addRow();
        },
        saveFunction: function () {
            $('#Grid').data('kendoGrid').saveChanges();
        },
        queryResource: function (e) {
		 		//answerFrom
		 		//answerTo
			if(viewModel.model.questionFrom && viewModel.model.questionTo){
	        	var oDate1 = new Date(viewModel.model.questionFrom);
	            var oDate2 = new Date(viewModel.model.questionTo);
	            if(oDate1.getTime() > oDate2.getTime()){
	            	kendo.ui.showErrorDialog({
                        message: "提问开始时间不能大于结束时间"
                    });
	            	return;
	            } 
        	}
			if(viewModel.model.answerFrom && viewModel.model.answerTo){
	        	var oDate1 = new Date(viewModel.model.answerFrom);
	            var oDate2 = new Date(viewModel.model.answerTo);
	            if(oDate1.getTime() > oDate2.getTime()){
	            	kendo.ui.showErrorDialog({
                        message: "答复开始时间不能大于结束时间"
                    });
	            	return;
	            } 
        	}
            $('#Grid').data('kendoGrid').dataSource.page(1);
        },
        resetForm: function (e) {
            var formDate = viewModel.model.toJSON();
            for (var k in formDate) {
                viewModel.model.set(k, undefined);
            }
            //$("#grid").data("kendoGrid").dataSource.page(1);
        },
    });
    
</script>
<body>
<div id="page-content">
	<div class="panel">
    	<div id="query-form" >
    		<form class="form-horizontal" ">
                    <div class="panel-body">
                        <div class="col-xs-12" >
                            <div class="col-xs-4" >
                                <div class="form-group" >
                                    <label class="col-xs-4 control-label"
                                           style="text-align: right">联系方式：</label>
                                    <div class="col-xs-8">
                                       <input id="contactPhoneComb" data-role="maskedtextbox" type="text" style="width: 100%;" data-bind="value:model.contactPhoneComb" class="k-textbox">
                                    </div>
                                </div>
                            </div>
							<div class="col-xs-4" >
                                <div class="form-group" >
                                    <label class="col-xs-4 control-label"
                                           style="text-align: right">邮箱：</label>
                                    <div class="col-xs-8">
                                       <input id="emailAddress" data-role="maskedtextbox" type="text" style="width: 100%;" data-bind="value:model.emailAddress" class="k-textbox">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4" >
                                <div class="form-group" >
                                    <label class="col-xs-4 control-label"
                                           style="text-align: right">渠道名称：</label>
                                    <div class="col-xs-8">
                                        <input id="channelName" data-role="maskedtextbox" type="text" style="width: 100%;" data-bind="value:model.channelName" class="k-textbox">
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-xs-12" >
                            <div class="col-xs-4" >
                                <div class="form-group" >
                                    <label class="col-xs-4 control-label"
                                           style="text-align: right">用户名：</label>
                                    <div class="col-xs-8">
                                    	<input id="userId" data-role="maskedtextbox" type="text" style="width: 100%"  data-bind="value:model.userName" class="k-textbox">
                                    </div>
                                </div>
                            </div>
							<div class="col-xs-4" >
                                <div class="form-group" >
                                    <label class="col-xs-4 control-label"
                                           style="text-align: right">联系人：</label>
                                    <div class="col-xs-8">
                                    	<input type="text" data-role="maskedtextbox" style="width: 100%" data-bind="value:model.contactPersonName" class="k-textbox">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4" >
                                <div class="form-group" >
                                    <label class="col-xs-4 control-label"
                                           style="text-align: right"> 问题类型：</label>
                                    <div class="col-xs-8">
                                    	<select id="questionType" data-value-primitive="true" style="width: 100%" data-bind="value: model.questionType"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" >
                            <div class="col-xs-4" >
                                <div class="form-group" >
                                    <label class="col-xs-4 control-label"
                                           style="text-align: right">问题描述：</label>
                                    <div class="col-xs-8">
                                    	   <input id="questionDescription" data-role="maskedtextbox" type="text" style="width: 100%" data-bind="value:model.questionDescription" class="k-textbox">
                                    </div>
                                </div>
                            </div>
							<div class="col-xs-4" >
                                <div class="form-group" >
                                    <label class="col-xs-4 control-label"
                                           style="text-align: right">答复状态：</label>
                                    <div class="col-xs-8">
                                   		<select id="answerStatus" data-value-primitive="true" style="width: 100%" data-bind="value: model.answerStatus"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4" >
                                <div class="form-group" >
                                    <label class="col-xs-4 control-label"
                                           style="text-align: right">是否解决：</label>
                                    <div class="col-xs-8">
                                   		<select id="solveFlag" data-value-primitive="true" style="width: 100%" data-bind="value: model.solveFlag"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" >
                            <div class="col-xs-4" >
                                <div class="form-group" >
                                    <label class="col-xs-4 control-label"
                                           style="text-align: right">  提问时间：</label>
                                    <div class="col-xs-8">
                                    		<input style="width: 100%"  id="questionFrom" name="questionFrom"  
                                           		data-bind="value:model.questionFrom"  data-role="datepicker" class="k-datepicker">
                                           	<script>
		                                     	$("#questionFrom").kendoDatePicker({
		                                         	format: "yyyy-MM-dd",
		                                     	});
                             		 		</script>	
                                    	   <!-- <input type="date" id="questionDate" style="width: 100%"  data-bind="value:model.questionDate" data-role="datetimepicker" class="k-datetimepicker">  -->
                                    	   <!-- <input style="width: 100%" require="true" id="questionDate" name="questionDate" style="width: 100%"
                                           		data-bind="value:model.questionDate"  data-role="datepicker" class="k-datepicker"> -->
                                           <!-- <script>
		                                     	$("#questionDate").kendoDatePicker({
		                                         	format: "yyyy-MM-dd",
		                                         	change : function(){
		                                         		validateEmpty('questionDate');
		                                                maxd = $('#questionDate').val();
		                                                $("#questionDate").data("kendoDatePicker").max(maxd);
		                                            }
		                                     	});
                             		 		</script> -->
                                    </div>
                                </div>
                            </div>
							<div class="col-xs-8" >
                                <div class="form-group" >
                                    <label style="width:5%;text-align: center;">至</label>
                                    	<input style="width: 25%"  id="questionTo" name="questionTo" 
                                           		data-bind="value:model.questionTo"  data-role="datepicker" class="k-datepicker">
                                           	<script>
		                                     	$("#questionTo").kendoDatePicker({
		                                         	format: "yyyy-MM-dd",
		                                     	});
                             		 		</script>	
                             		 		
                                   		<!-- <input type="date" id="questionDate" style="width:194px;" data-bind="value:model.questionDate" data-role="datetimepicker" class="k-datetimepicker">  -->
                                    	<!-- <input style="width: 194px" require="true" id="questionDate" name="questionDate" 
                                           		data-bind="" onkeyup="dateCheck('questionDate')" data-role="datepicker" class="k-datepicker"> -->
                                           <!-- <script>
		                                     	$("#questionDate").kendoDatePicker({
		                                         	format: "yyyy-MM-dd",
		                                         	change : function(){
		                                         		validateEmpty('questionDate');
		                                                maxd = $('#questionDate').val();
		                                                $("#questionDate").data("kendoDatePicker").max(maxd);
		                                            }
		                                     	});
                             		 		</script> -->
                                    <label style="width:10%;text-align: center">答复时间：</label>
                                        <input style="width: 25%"  id="answerFrom" name="answerFrom" 
                                           		data-bind="value:model.answerFrom"  data-role="datepicker" class="k-datepicker">
                                           	<script>
		                                     	$("#answerFrom").kendoDatePicker({
		                                         	format: "yyyy-MM-dd",
		                                     	});
                             		 		</script>	
                                   		<!-- <input type="date" id="answerDate" style="width: 194px" data-bind="value:model.answerDate" data-role="datetimepicker" class="k-datetimepicker"> -->
                                    	<!-- <input style="width: 194px" require="true" id="answerDate" name="answerDate" 
                                           		data-bind="value:model.answerDate" onkeyup="dateCheck('answerDate')" data-role="datepicker" class="k-datepicker">
                                           <script>
		                                     	$("#answerDate").kendoDatePicker({
		                                         	format: "yyyy-MM-dd",
		                                         	change : function(){
		                                         		validateEmpty('answerDate');
		                                                maxd = $('#answerDate').val();
		                                                $("#answerDate").data("kendoDatePicker").max(maxd);
		                                            }
		                                     	});
                             		 		</script> -->
                                    <label style="width:5%;text-align: center;">至</label>
                                    	<input type="date" id="answerTo" name="answerTo" style="width: 25%" data-bind="value:model.answerTo" data-role="datepicker" class="k-datepicker" > 
                                   			<script>
		                                     	$("#answerTo").kendoDatePicker({
		                                         	format: "yyyy-MM-dd",
		                                     	});
                             		 		</script>
                                   		<!-- <input type="date" id="answerDate" style="width: 194px" data-bind="value:model.answerDate" data-role="datepicker" class="k-datepicker" >  -->
                                    	<!-- <input style="width: 194px" require="true" id="answerDate" name="answerDate" 
                                           		data-bind="value:model.answerDate" onkeyup="dateCheck('answerDate')" data-role="datepicker" class="k-datepicker">
                                           <script>
		                                     	$("#answerDate").kendoDatePicker({
		                                         	format: "yyyy-MM-dd",
		                                         	change : function(){
		                                         		validateEmpty('answerDate');
		                                                maxd = $('#answerDate').val();
		                                                $("#answerDate").data("kendoDatePicker").max(maxd);
		                                            }
		                                     	});
                             		 		</script> -->
                                </div>
                                
                            </div>
                            <!-- <div class="col-xs-3" >
                                <div class="form-group" >
                                    <label class="col-xs-4 control-label"
                                           style="text-align: right">答复时间：</label>
                                    <div class="col-xs-8">
                                   		<input type="date" id="answerDate" style="width: 100%" data-bind="value:model.answerDate" data-role="datetimepicker" class="k-datetimepicker">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3" >
                                <div class="form-group" >
                                    <label class="col-xs-4 control-label"
                                           style="text-align: center;">至</label>
                                    <div class="col-xs-8">
                                   		<input type="date" id="answerDate" style="width: 100%" data-bind="value:model.answerDate" data-role="datetimepicker" class="k-datetimepicker" >
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-xs-12" >
                            <div class="col-xs-4" >
                                <div class="form-group" >
                                    <label class="col-xs-4 control-label"
                                           style="text-align: right">订单号：</label>
                                    <div class="col-xs-8">
                                    	<input id="orderNumber" data-role="maskedtextbox"  style="width: 100%" type="text" data-bind="value:model.orderNumber" class="k-textbox">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                        <div class="panel-footer text-right">
                            <span class="btn btn-primary" style="margin-right: 6px" data-bind="click:queryResource" type="submit"><i class="fa fa-search" style="margin-right:3px;"></i><@spring.message "hap.query"/></span>
                           	<span class="btn btn-default" style="margin-right: 20px" type="button" data-bind="click:resetForm"><i class="fa fa-eraser" ></i><@spring.message "hap.reset"/></span>
	                    </div>
                </form>
		    <div style="clear:both">
		        <div id="Grid"></div>
		    </div>
		        
    	</div>
    
    </div>
    <script>kendo.bind($('#query-form'), viewModel);</script>
<!-- 问题咨询二级窗口 -->
<div id="classSetManageWin"></div>
<script>kendo.bind($('#page-content'), viewModel);</script>
</div>

<script type="text/javascript">
		function openClassSetManagerWin(consultId, orderNumber, questionDate, contactPersonName, contactPhoneComb, emailAddress, questionType, fileId, questionDescription) {
			$("#classSetManageWin").kendoWindow({
		       actions: ["Close"],
		       //title: "问题咨询二级窗口",
		       draggable: true,
		       height: "90%",
		       width: "90%",
		       content: "${base.contextPath}/question/qa_consult_line.html?consultId="+consultId+"&orderNumber="+orderNumber+"&questionDate="+questionDate+"&contactPersonName="+contactPersonName+"&contactPhoneComb="+contactPhoneComb+"&emailAddress="+emailAddress+"&questionType="+questionType+"&fileId="+fileId+"&questionDescription="+questionDescription,
		       iframe: true,
		       modal: true
		   });
		   var win = $("#classSetManageWin").data("kendoWindow");
		   //win.toggleMaximization();
		   //win.maximize();
		   win.center().open();
		}
		
		$("#questionType").kendoComboBox({
		        valuePrimitive: true,
		        dataTextField: "meaning",
		        dataValueField: "value",
		        dataSource: questionTypeData
		});
		$("#answerStatus").kendoComboBox({
	        valuePrimitive: true,
	        dataTextField: "meaning",
	        dataValueField: "value",
	        dataSource: questionAnswerStatus
		});
		$("#solveFlag").kendoComboBox({
	        valuePrimitive: true,
	        dataTextField: "meaning",
	        dataValueField: "value",
	        dataSource: questionSolveFlag
		});
  
		var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/fms/qa/question/consult/query",
                type: "POST",
                dataType: "json"
            },
            update: {
                url: BaseUrl + "/fms/qa/question/consult/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/fms/qa/question/consult/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/fms/qa/question/consult/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type)
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        serverSorting: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "consultId",
                fields: { 
                	consultId:{},
                	orderNumber:{editable : false},
                	userId:{editable : false},
                	userName:{},
                	contactPersonName:{},
                	contactPhoneComb:{},
                	emailAddress:{},
                	channelName:{},
                	channelRelation:{},
                	//questionDate:{type:'date'},
                	questionType:{},
                	questionDescription:{},
                	answerStatus:{},
                	solveFlag:{},
                	//answerDate:{type:'date'},
                	fileId:{},
                	programId:{},
                	requestId:{},
                	answerTo:{},
                	answerFrom:{},
                	questionTo:{},
                	questionFrom:{}
                }
            }
        }
    });

    $("#Grid").kendoGrid({
        dataSource: dataSource,
        editable:true,
        height: '100%',
        sortable: true,
        resizable: true,
        //rownumber: true,
        //scrollable: true,
        //navigatable: false,
        //selectable: 'multiple, rowbox',
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            /* {
                field: "consultId",
                title: '<@spring.message "QaQuestionConsult.consultId"/>',
                width: 120
                headerAttributes: {
                    'class':'table-header-cell',
                    style:'text-align:center;vertical-align:middle;'
                },
            }, */
                    {
                field: "orderNumber",
                title: '<@spring.message "QaQuestionConsult.orderId"/>',
                width: 80,
                headerAttributes: {
                    'class':'table-header-cell',
                    style:'text-align: center;vertical-align:middle;'
                },
                attributes: {
                    "class": "table-cell",
                    style: "text-align:center;"
                },
               
            },
                    {
                field: "userName",
                title: '<@spring.message "QaQuestionConsult.username"/>',
                width: 80,
                headerAttributes: {
                    'class':'table-header-cell',
                    style:'text-align: center;vertical-align:middle;'
                },
                attributes: {
                    "class": "table-cell",
                    style: "text-align:center;"
                },
            },
                    {
                field: "contactPersonName",
                title: '<@spring.message "QaQuestionConsult.contactPersonName"/>',
                width: 80,
                headerAttributes: {
                    'class':'table-header-cell',
                    style:'text-align: center;vertical-align:middle;'
                },
                attributes: {
                    "class": "table-cell",
                    style: "text-align:center;"
                },
            },
                    {
                field: "contactPhoneComb",
                title: '<@spring.message "QaQuestionConsult.contactNumber"/>',
                width: 100,
                headerAttributes: {
                    'class':'table-header-cell',
                    style:'text-align: center;vertical-align:middle;'
                },
                attributes: {
                    "class": "table-cell",
                    style: "text-align:center;"
                },
            },
                    {
                field: "emailAddress",
                title: '<@spring.message "QaQuestionConsult.emailAddress"/>',
                width: 100,
                headerAttributes: {
                    'class':'table-header-cell',
                    style:'text-align: center;vertical-align:middle;'
                },
                attributes: {
                    "class": "table-cell",
                    style: "text-align:center;"
                },
            },
                    {
                field: "channelName",
                title: '渠道名称',
                width: 100,
                headerAttributes: {
                    'class':'table-header-cell',
                    style:'text-align: center;vertical-align:middle;'
                },
                attributes: {
                    "class": "table-cell",
                    style: "text-align:center;"
                },
            },
                   /*  {
                field: "channelRelation",
                title: '<@spring.message "QaQuestionConsult.channelRelation"/>',
                width: 100,
                headerAttributes: {
                    'class':'table-header-cell',
                    style:'text-align: center;vertical-align:middle;'
                },
                attributes: {
                    "class": "table-cell",
                    style: "text-align:center;"
                },
            }, */
                    {
                field: "questionDate",
                title: '<@spring.message "QaQuestionConsult.questionDate"/>',
                width: 120,
                headerAttributes: {
                    'class':'table-header-cell',
                    style:'text-align: center;'
                },
                attributes: {
                    "class": "table-cell",
                    style: "text-align:center;"
                },
                format: "{0: yyyy-MM-dd HH:mm:ss}",
            },
                    {
                field: "questionType",
                title: '<@spring.message "QaQuestionConsult.questionType"/>',
                width: 80,
                headerAttributes: {
                    'class':'table-header-cell',
                    style:'text-align: center;vertical-align:middle;'
                },
                attributes: {
                    "class": "table-cell",
                    style: "text-align:center;"
                },
                template: function(dataItem){
                    var v = dataItem.questionType;
                    $.each(questionTypeData,function(i,n){
                        if((n.value||'').toLowerCase() == (v||'').toLowerCase()){
                            v = n.meaning;
                            return v;
                        }
                    })
                    return v;
                 },
                editor: function(container, options){
                    $('<input name="' + options.field + '">')
                        .appendTo(container)
                        .kendoComboBox({
                            //valuePrimitive: true,
                            dataTextField: "meaning",
                            dataValueField: "value",
                            dataSource: questionTypeData,
                        });
                },
            },
                    {
                field: "questionDescriptionTemp",
                title: '<@spring.message "QaQuestionConsult.questionDescription"/>',
                width: 120,
                headerAttributes: {
                    'class':'table-header-cell',
                    style:'text-align: center;vertical-align:middle;'
                },
                attributes: {
                    "class": "table-cell",
                    style: "text-align:center;"
                },
            },
                    {
                field: "answerStatus",
                title: '<@spring.message "QaQuestionConsult.answerStatus"/>',
                width: 80,
                headerAttributes: {
                    'class':'table-header-cell',
                    style:'text-align: center;vertical-align:middle;'
                },
                attributes: {
                    "class": "table-cell",
                    style: "text-align:center;"
                },
                template: function(dataItem){
                    var v = dataItem.answerStatus;
                    $.each(questionAnswerStatus,function(i,n){
                        if((n.value||'').toLowerCase() == (v||'').toLowerCase()){
                            v = n.meaning;
                            return v;
                        }
                    })
                    
                    return v;
                 },
                editor: function(container, options){
                    $('<input name="' + options.field + '">')
                        .appendTo(container)
                        .kendoComboBox({
                            valuePrimitive: true,
                            dataTextField: "meaning",
                            dataValueField: "value",
                            dataSource: questionAnswerStatus
                        });
                }, 
            },
                    {
                field: "solveFlag",
                title: '<@spring.message "QaQuestionConsult.solveFlag"/>',
                width: 80,
                headerAttributes: {
                    'class':'table-header-cell',
                    style:'text-align: center;vertical-align:middle;'
                },
                attributes: {
                    "class": "table-cell",
                    style: "text-align:center;"
                },
                template: function(dataItem){
                    var v = dataItem.solveFlag;
                    $.each(questionSolveFlag,function(i,n){
                        if((n.value||'').toLowerCase() == (v||'').toLowerCase()){
                            v = n.meaning;
                            return v;
                        }
                    })
                    
                    return v;
                 },
                editor: function(container, options){
                    $('<input name="' + options.field + '">')
                        .appendTo(container)
                        .kendoComboBox({
                            valuePrimitive: true,
                            dataTextField: "meaning",
                            dataValueField: "value",
                            dataSource: questionSolveFlag
                        });
                }, 
            },
            {
                title: '<@spring.message "hap.action"/>',
                /* command: [{
                    name: "edit",
                    isEnable: function (data) {
                        if (data.status == "FREEZED") {
                            return false;
                        }
                        return true;
                    }
                }], */
                width: 60,
                headerAttributes: {
                    'class':'table-header-cell',
                    style:'text-align:center;vertical-align:middle;'
                },
                attributes: {
                    "class": "table-cell",
                    style: "text-align:center;"
                },
                template : function (dataItem) {
                	if (dataItem.consultId) {
                		return '<a href="#" onclick="openClassSetManagerWin('+dataItem.consultId+',\''+dataItem.orderNumber+'\',\''+dataItem.questionDate+'\',\''+dataItem.contactPersonName+'\',\''+dataItem.contactPhoneComb+'\',\''+dataItem.emailAddress+'\',\''+dataItem.questionType+'\',\''+dataItem.fileId+'\',\''+dataItem.questionDescription+'\')"><@spring.message "prdclassset.operation"/></a>';
                	} else {
                		return '<a href="#"><@spring.message "prdclassset.operation"/></a>';
                	}
                }
            },
                    {
                field: "answerDate",
                title: '<@spring.message "QaQuestionConsult.answerDate"/>',
                width: 120,
                headerAttributes: {
                    'class':'table-header-cell',
                    style:'text-align: center;vertical-align:middle;'
                },
                attributes: {
                    "class": "table-cell",
                    style: "text-align:center;"
                },
                format: "{0: yyyy-MM-dd HH:mm:ss}",
            },
                    /* {
                field: "fileId",
                title: '<@spring.message "QaQuestionConsult.fileId"/>',
                width: 120,
                headerAttributes: {
                    'class':'table-header-cell',
                    style:'text-align: center;vertical-align:middle;'
                },
                attributes: {
                    "class": "table-cell",
                    style: "text-align:center;"
                },
            },
                    {
                field: "programId",
                title: '<@spring.message "QaQuestionConsult.programId"/>',
                width: 120,
                headerAttributes: {
                    'class':'table-header-cell',
                    style:'text-align: center;vertical-align:middle;'
                },
                attributes: {
                    "class": "table-cell",
                    style: "text-align:center;"
                },
            },
                    {
                field: "requestId",
                title: '<@spring.message "QaQuestionConsult.requestId"/>',
                width: 120,
                headerAttributes: {
                    'class':'table-header-cell',
                    style:'text-align: center;vertical-align:middle;'
                },
                attributes: {
                    "class": "table-cell",
                    style: "text-align:center;"
                },
            }, */
        ],
        editable: false
    });
	
    function openStudentPage(evaluateId, mobile) {
	    var dialog = $("#dialog").kendoWindow({
	        actions: ["Maximize", "Minimize", "Close"],
	        width: "100%",
	        height: "100%",
	        modal: true,
	        title: '学员管理',
	        visible: false,
	        iframe: true,
	        content: 'trn_student.html?evaluateId=' + evaluateId + '&mobile=' + mobile
	    }).data("kendoWindow");
	    dialog.center().open();
	}
    
    function deleteData() {

        Hap.deleteGridSelection({
            grid: $('#Grid')
        });

    }

    Hap.autoResizeGrid("#Grid");
</script>
</body>
</html>